{
  "parser": "babel-eslint",
  "extends": ["airbnb", "react-app", "prettier"],
  "plugins": ["flowtype", "react", "jsx-a11y", "import", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "react/destructuring-assignment": 0,
    "react/no-unused-state": 0,
    "object-shorthand": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "linebreak-style": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/button-has-type": 0,
    "dot-notation": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "prefer-stateless-function": 0,
    "radix": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-undef": 0,
    "no-plusplus": 0,
    "guard-for-in": 0,
    "no-restricted-globals": 0
  }
}
